.people {
  --column: 2;
  display: grid;
  margin: auto;
  max-width: 1000px;
  gap: 30px;
  padding-block: 30px;
  padding-inline: 35px;
  max-width: 400px;
  grid-template-columns: repeat(var(--column), 1fr);

  @media (min-width: 1000px) {
    max-width: 1000px;
    --column: 4;
  }
}

.person {
  grid-column: span 1;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 287px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  text-align: center;

  &:hover {
    background-color: #eeeeee;
    transform: scale(1.1);
    border-radius: 10px;
  }

  &:hover .extra {
    opacity: 1;
  }

  &:hover .photo :nth-child(1) {
    border-radius: 25%;
  }
}

.photo :nth-child(1) {
  border-radius: 50%;
  padding-inline: 10px;
  width: 200px;
  transition: border-radius 0.5s ease-in-out;
}

.rank {
  display: block;
  position: absolute;
  top: 80px;
  right: 30px;
  padding: 7px 12px;

  font-family: Arial;
  font-size: 16px;
  line-height: 18.4px;
  text-align: center;

  color: #8b0000;

  background-color: #fff;
  border-radius: 50%;
}

.name {
  font-family: Arial;
  font-size: 20px;
  line-height: 23px;

  color: #2f4f4f;
}

.extra {
  text-align: center;
  margin-top: 9px;
  opacity: 0;

  font-family: Arial;
  font-size: 18px;
  line-height: 20.7px;
  text-align: center;
  color: #000;
}
